@import "../sass/colors";
@import "../sass/mixins";

/* -- Logo -- */
.logo {
    font-size: 48px;
    font-family: "VX Rocket", sans-serif;
    margin: auto 0;
    font-weight: normal;
    user-select: none;
}

/* -- Navbar -- */
.navigation {
    height: 70px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
    width: 100%;
    z-index: 10;
    position: relative;

    .logo {
        line-height: 70px;
        height: 70px;
        display: block;
        float: left;
        font-size: 24px;
        margin: 0 20px;
        color: white;
        font-weight: normal;
        text-decoration: none;
        opacity: 1;
        transition: .3s;
        user-select: none;
        :hover {
            opacity: 0.7;
        }
    }

    .bkg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: -1;
        background-color: rgba(0,0,0,0);
        transition: background-color 0.2s;
        @include media(mobile) {
            &.active { background-color: $primary-color; }
        }
    }

    .menu {
        clear: both;
        max-height: 0;
        opacity: 0;
        transition: max-height .2s ease-out, opacity .2s ease-out;
    }

    .menu-btn {
        display: none;
        &:hover {
            color: darkgrey;
        }

        &:checked ~ .menu {
            max-height: 300px;
            opacity: 1;
        }

        &:checked ~ .menu-icon:not(.steps) .navicon:before,
        &:checked ~ .menu-icon:not(.steps) .navicon:after {
            top: 0;
        }

        &:checked ~ .menu-icon .navicon {
            background: transparent;
            &:before { transform: rotate(-45deg); }
            &:after { transform: rotate(45deg); }
        }
    }

    .menu-icon {
        display: block;
        float: right;
        padding: 34px 20px;
        position: relative;
        user-select: none;

        .navicon {
            background: white;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;

            &:before, &:after {
                background: white;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;

                &:before { top: 5px; }
                &:after { top: -5px; }
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;

        li {
            a {
                line-height: 70px;
                height: 70px;
                display: block;
                padding: 0 20px;
                text-decoration: none;
                color: white;
                overflow: hidden;
                user-select: none;
                transition: .3s;
                background: $primary-color;
                /*&.active {
                    background-color: grey;
                }*/
            }

            @include media(desktop) {
                float: left;
                a {
                    padding: 0 20px;
                    line-height: 100px;
                    height: 100px;
                    background: transparent;
                    /*&.active {
                        background-color: $primary-color;
                    }*/
                }
            }
        }
    }

    @include media(mobile) {
        .fixed {
            /*position: sticky;
            position: -webkit-sticky;*/
            position: fixed;
            top: 0;
        }
    }

    @include media(desktop) {
        height: 100px;
        width: 100%;
        /*position: sticky;
        position: -webkit-sticky;
        top: 0;*/
        z-index: 10;

        .logo {
            line-height: 100px;
            height: 100px;
            font-size: 40px;
            margin: 0 0 0 100px;
        }

        .menu {
            margin: 0 100px 0 0;
            clear: none;
            float: right;
            max-height: none;
            opacity: 1;
        }
    
        .menu-icon {
            display: none;
        }
    }
}

/* 48em = 768px */

/* -- Footer -- */

footer {
    width: 100%;
    background-color: $secondary-color;
    h3 {
        margin: 10px 0;
        user-select: none;
    }

    .wrapper {
        width: 100%;
        max-width: 1600px;
        margin: auto;
        padding: 25px;
        position: block;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: flex-start;

        @include media(mobile) {
            /*display: block;*/
            grid-template-columns: 1fr 1fr;
        }
    }

    .logo {
        margin: 20px;
        text-align: left;
        user-select: none;
        align-self: center;
        @include media(mobile) { display: block; }
    }

    .copyright {
        color: lightgrey;
        font-size: 12px;
    }
    
    ul {
        margin: 0;
        padding: 0;
        text-align: left;
        list-style: none;
        li {
            margin: 4px 0;
            a {
                color: lightgrey;
                font-size: 14px;
                text-decoration: none;
                user-select: none;
            }
        }
    }

    .social {
        text-align: left;
        margin: 20px 0;
        align-self: center;
        user-select: none;
        a {
            margin: 10px;
            transition: .5s;
            &:hover { opacity: .7; }
        }

        @include media(mobile) { display: block; }
    }

    .footer-menu {
        margin: 0;
        padding: 10px;
        text-align: left;
        list-style: none;
    }
}