<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Riot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#FB8E82">
        <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico"/>
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

            @font-face {
                font-family: "Pro";
                src: url("/assets/fonts/pro.otf");
            }

            @font-face {
                font-family: "VX Rocket";
                src: url("/assets/fonts/vxrocket.ttf");
            }

            * {
                box-sizing: border-box;
            }

            html {
                scroll-behavior: smooth;
            }

            body {
                margin: 0px;
                padding: 0px;
                font-family: "Open Sans", sans-serif;
            }
        </style>
    </head>
    <body>
        <div id="react-app"></div>
        <% if(process.env.NODE_ENV === 'production') { %>
            <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
            <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <% } else { %>
            <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
            <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
		<% } %>
        <script type="text/javascript" src="<%- manifest["vendors.js"] %>"></script>
        <script type="text/javascript" src="<%- manifest["main.js"] %>"></script>
    </body>
</html>