@import "../sass/mixins";

.view-platforms {
    & i {
        margin-right: 10px;

        transform: rotate(-90deg);
        transition: transform 0.1s ease-in;
    }
    &.active {
        i  {
            transform: rotate(0deg);
        }
    }
}

/* All Platforms -- we'll need to remake this with mixins later */

.allPlatforms {
    background: white;
    color: black;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
}

.os {
    display: inline-block;
    margin: 0;
    font-size: 1.5em;
}

.dl-div {
    margin: 10px 0;
}

.dl-name {
    margin: 10px;
    display: inline-block;
}

.dl-version {
    display: block;
    font-size: 12px;
}

.dl-button {
    background-color: mediumslateblue; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    user-select: none;
    margin-left: 10px;

    &:first-child {
        margin-left: 0px;
    }
}

.dl-buttons {
    display: flex;

    @include media(desktop) {
        float: right;
        margin: 10px 0;
    }
}

.dl-appstore {
    margin-bottom: 20px;
}

.icon-os {
    vertical-align: baseline;
}