/* -- Logo -- */

.logo {
    font-size: 48px;
    font-family: "VX Rocket", sans-serif;
    margin: auto 0;
}

nav .logo {
    line-height: 70px;
    height: 70px;
    display: block;
    float: left;
    font-size: 24px;
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-family: "VX Rocket", sans-serif;
    font-weight: normal;
    user-select: none;
    opacity: 1;
    transition: .3s;
}

nav .logo:hover {
    opacity: 0.7;
}

@media (min-width: 1024px) {
    nav .logo {
        line-height: 100px;
        height: 100px;
        display: block;
        float: left;
        font-size: 40px;
        margin: 0 0 0 100px;
        color: white;
        text-decoration: none;
        font-weight: normal;
        user-select: none;
        opacity: 1;
        transition: .3s;
    }
}